html {
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(1, 1fr);
}

a, h1 {
    text-decoration: none;
    color:black
}

tr:nth-child(even) {
    background-color: rgb(216, 234, 235);
}

.is-aqua {
    color: aqua;
}
#is-babyblue {
    background-color: rgb(0, 166, 255);
    color:aliceblue;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#is-blue {
    background-color: royalblue;
    color:rgb(0, 2, 3);
    display: inline-block;
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
}
main {
    padding: 15px;
}

footer {
    padding: 23px;
    font-size: 21px;
}

img {
    height: 200px;
}

nav{
    border-bottom: 2px solid rgb(15, 84, 213);
    padding: 20px;
}

a:hover {
    color: red;
}
